{%load static%}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Space</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/styles/style.css' %}">

</head>

<body>
    <div class="pagina-inicial">
        <header class="cabecalho">
            <img src="{% static '/assets/logo/Logo(2).png' %}" alt="Space" />
            <div class="cabecalho__busca">
                <div class="busca__fundo">
                    <input class="busca__input" type="text" placeholder="O que você procura?">
                    <img class="busca__icone" src="{% static '/assets/ícones/1x/search.png' %}" alt="ícone de search">
                </div>
            </div>
        </header>
        <main class="principal">
            <section class="menu-lateral">
                <nav class="menu-lateral__navegacao">
                    <a href="index.html"><img src="{% static '/assets/ícones/1x/Home - ativo.png' %}"> Home</a>
                    <a href="#"><img src="{% static '/assets/ícones/1x/Mais vistas - inativo.png' %}"> Mais vistas</a>
                    <a href="#"><img src="{% static '/assets/ícones/1x/Novas - inativo.png' %}"> Novas</a>
                    <a href="#"><img src="{% static '/assets/ícones/1x/Surpreenda-me - inativo.png' %}"> Surpreenda-me</a>
                </nav>
            </section>
            <section class="conteudo">
                <section class="imagem">
                    <div class="imagem__conteudo">
                        <img class="imagem__imagem" src="{% static '/assets/imagens/galeria/imagem4.jpeg' %}">
                        <div class="imagem__info">
                            <div class="imagem__texto">
                                <p class="imagem__titulo">Borboleta do Espaço</p>
                                <p class="imagem__descricao">Acessado em 16 de outubro de 2022</p>
                                <p class="imagem__texto"> O que parece uma borboleta vermelha no espaço é na realidade um berçário para centenas de estrelas bebês, reveladas nesta imagem infravermelha do Telescópio Espacial Spitzer da NASA. Oficialmente chamada W40, a borboleta é uma nebulosa - uma gigantesca nuvem de gás e poeira no espaço onde novas estrelas podem se formar. As duas "asas" da borboleta são bolhas gigantes de gás interestelar quente soprando das estrelas mais quentes e massivas desta região. O material que forma as asas do W40 foi ejetado de um denso aglomerado de estrelas que fica entre as asas na imagem. A mais quente e massiva dessas estrelas, W40 IRS 1a, fica perto do centro do aglomerado estelar. W40 está a cerca de 1.400 anos-luz do Sol, aproximadamente a mesma distância que a conhecida nebulosa de Órion, embora as duas estejam a quase 180 graus de distância no céu.</p>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
        </main>
    </div>
    <footer class="rodape">
        <div class="rodape__icones">
            <a href="https://twitter.com/" target=”_blank” >
                <img src="{% static '/assets/ícones/1x/twitter.png' %}" alt="ícone twitter">
            </a>
            <a href="https://www.instagram.com/" target=”_blank” >
                <img src="{% static 'assets/ícones/1x/instagram.png' %}" alt="ícone instagram">
            </a>
        </div>
        <p class="rodape__texto">Aluno</p>
    </footer>
</body>

</html>